.portada-container{
    background:linear-gradient(90deg,rgb(16, 75, 1),rgb(112, 4, 4));
    width:100%;
    height:500px;
    margin-top:-35px;
    justify-content: center;
    
}
.portada-header-h1{
    text-align:center;
    color:rgb(244, 248, 184);
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}


.portada-container-img{
  width:100%;
  height: 200px;
  display:flex;
  justify-content: center;
}

.portada-img{
    width:150px;
    height: 150px;
    border:2px solid white;
    border-radius:50%;
    background-image: url('../../img/yellow-neck-amazone-1508555_1920.jpg');
    background-size: cover;
    background-position-x:-30px;
 }
.portada-container-buttons{
    display:block;
    margin-top: 10px;
    height: 150px;
    text-align: center;
    margin-left: -199px;
  
}
a{

    border-radius: 9px 9px 9px 9px;
    width:90%;
    height: 20px;
    margin-top:-3px;
    background-color: rgb(2, 27, 2);
    font-weight: bolder;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    color:rgb(244, 248, 184);
    text-decoration: none;
    box-shadow: 9px 9px 19px 9px rgb(3, 10, 1);
  
}
span{
    color:transparent;
}
.separador{
    height: 45px;
}
a:hover{
    background-color: rgb(65, 114, 16);
    color:black;
}
a:active{
    background-color: chartreuse;
}