.container_vidas{
    height: 60px;
    width:100%;
    background-color:black;
    color:green;
    display:flex;

}
.vidas_h3{
    text-align:center;
    margin-left: 30%;
}
.vidas_number{
    font-size: 50px;
    position:absolute;
    margin-top:-23px;
}